<div>
    <form action="/auth/login" method="post">
        <label>User
            <input type="text" name="user" placeholder="User name" />
        </label>
        <label> Password
            <input type="text" name="password" placeholder="**********" />
        </label>
        <button type="submit">Login</button>
    </form>
</div>