<div>
    <form action="/auth/login" method="post">
        <label>email
            <input type="text" name="email" placeholder="email" />
        </label>
        <label> Password
            <input type="password" name="password" placeholder="type your passsword" />
        </label>
        <button type="submit">Login</button>
    </form>
</div>