<div>
    <h1>Welcome to PetBook</h1>
    <p>Hello pet lover, please log in to your account.</p>
    <form action="/auth/login" method="post">
        <label>
            <input type="text" name="email" placeholder="Email address" />
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </label>
        <label>
            <input type="password" name="password" placeholder="Password" />
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </label>
        <button type="submit">Login</button>
    </form>
    <p>Don't you have an account yet? Register <a href="/auth/register">here.</a></p>
    {{!-- {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}} --}}
</div>