<div class="container">
    <div class="authTitle">
        <h2 class="bolder">Welcome to PetBook</h2>
        <p>Hello pet lover, please log in to your account.</p>
    </div>
    <div class="authInp">
        <form action="/auth/login" method="post">
            <div class="authInput">
                <label class="authLabel1">
                    <input class="whiteGreyBg authInput" type="text" name="email" placeholder="Email address" />
                </label>
            </div>
            <div>
                <label class="authLabel2">
                    <input class="whiteGreyBg authInput" type="password" name="password" placeholder="Password" />
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </label>
            </div>
    </div>
    <button class="greenBg" type="submit">Login</button>
    </form>
    <p class="authFooter">Don't you have an account yet? Register <a href="/auth/register">here.</a></p>
    {{!-- {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}} --}}
</div>