<div>
    <div class="auth">
        <h1>Welcome to PetBook</h1>
        <p>Hello pet lover! I guess you are new around here. Please, register yourself to get the most from this app.
        </p>
    </div>
    <form method="post" action="/auth/register">
        <label>
            <input type="text" name="email" placeholder="Email address" />
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </label>
        <label>
            <input type="password" name="password" placeholder="Password" />
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </label>
        <button type="submit">Register</button>
    </form>
    <p>Already registered? Log in <a href="/auth/login">here</a>.</p>
    {{!-- {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}} --}}
</div>