<div class="container">
    <div class="authTitle">
        <h2 class="bolder">Welcome to PetBook</h2>
        <p class="sgC">Hello pet lover! I guess you are new around here. Please, register yourself to get the most from
            this app.
        </p>
    </div>
    <div class="authInp">
        <form method="post" action="/auth/register">
            <div class="authInput">
                <label class="authLabel1">
                    <input class="whiteGreyBg authInput" type="text" name="email" placeholder="Email address" />
                </label>
            </div>
            <div class="authInput pass">
                <label class="authLabel2">
                    <input class="whiteGreyBg authInput" type="password" name="password" placeholder="Password" />
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </label>
            </div>
    </div>
    <button class="greenBg" type="submit">Register</button>
    </form>
    <p class="authFooter sgC">Already registered?<br>Log in <a href="/auth/login">here</a>.</p>
</div>