<div>
    Register
    <form method="post" action="/auth/register">
        <label> User
            <input type="text" name="user" placeholder="User name" />
        </label>
        <label> Email
            <input type="text" name="email" placeholder="Your email" />
        </label>
        <label> Password
            <input type="text" name="password" placeholder="**********" />
        </label>
        <button type="submit">Create Account</button>
    </form>
</div>