{{#each petsZoo }}
<a href="/my-pets/{{this._id}}">
    <div class="pet-card">
        <div class="pet-img">
            <img src="{{this.imageUrl}}" />
        </div>
        <div class="name-arrow">
            <h5>{{this.petsName}}</h5>
            <img src="/images/arrow_right.svg" />
        </div>
    </div>
</a>
{{/each}}