
{{#each myPet }}
<div class="pet-card">
    <div class="pet-img">
        <img src="{{this.imageUrl}}" />
    </div>

    <div class="name-arrow">
        <h5>{{this.petsName}}</h5>
        <a href="/my-pets/{{this._id}}">
            <img src="/images/arrow_right.svg" />
        </a>
    </div>

</div>
{{/each}}
