<div class="greenBg wL error">
    <img src="../images/cat_error.svg" alt="Error 404" class="imgError">
    <h1 class="h1Error">Error 404</h1>
    <p class="p1Error">Page not found</p>
    <button class="btn gC errorBtn"><a href="/">Go home</a></button>
</div>