<body class="greenBg page-error">
    <div class="container">
        <div class="wL error-block">
            <img src="../images/cat_error.svg" alt="Error 404" class="imgError">
            <h1 class="h1Error">Error 500</h1>
            <p class="p1Error">Server catapum!</p>
            <button class="gC errorBtn"><a href="/">Go home</a></button>
        </div>
    </div>
</body>