<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="greenBg home">
    <div class="logo wL">
        <img src="../images/cat_home.svg" alt="PetBook" class="imgHome">
        <h1>PetBook</h1>
    </div>
    {{ body }}
    <div class="homeBtn gC">
        <button class="btn"><a href="/auth/register">Register</a></button>
        <button class="btn"><a href="/auth/login">Login</a></button>
        <button class="btn"><a href="/zoo">Zoo</a></button>
    </div>
    {{!-- <button><a href="/user">User profile</a></button>
    <button><a href="/my-pets/add">Add a pet</a></button>
    <button><a href="/my-pets/list">Pet's list</a></button> --}}
    <p class="homeP wL">Do you want to look around a bit before signing up? Check the pets in our Zoo</p>
</body>

</html>