<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="greenBg home">
    <div class="container cover">
        <div class="icon-title">
            <img src="../images/cat_home.svg" alt="PetBook" class="imgHome">
            <h1>PetBook</h1>
        </div>

        {{ body }}
        {{#if isAnom}}
        <div class="gC">
            <button><a href="/auth/register">Register</a></button>
            <button><a href="/auth/login">Login</a></button>
        </div>
        {{/if}}
    </div>
    <div class="paraf">
        <p class="homeP">Do you want to look around a bit before signing up? Check the pets in our<a
                href="/zoo">Zoo.</a></p>
    </div>
</body>

</html>