<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Upload the details of your pets.">
  <title>PetBook</title>

  <!-- Open Graph data -->
  <meta property="og:title" content="PetBook" />
  <meta property="og:image" content="https://pet-book-app.herokuapp.com/images/favicon.png" />
  <meta property="og:description" content="Upload the details of your pets." />

  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon.png" type="image/png" />

</head>

<body>
 {{!--  <div class="top-bar">
    <div class="time">
      <span>
        <script type="text/javascript">
          var d = new Date();
          document.write(d.getHours() + ":" + d.getMinutes());
        </script>
      </span>
    </div>

    <div class="status">
      <img src="/images/connection.svg" />
      <img src="/images/wifi.svg" />
      <img src="/images/battery.svg" />
    </div>

  </div> --}}

  {{{body}}}

</body>

</html>