<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PetBook</title>
  <link rel="stylesheet" href="/css/reset.css" />
  {{!--
  <link rel="stylesheet" href="/css/base.css" /> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>



  <div class="top-bar">
    <div class="time">
      <span>
        <script type="text/javascript">
          var d = new Date();
          document.write(d.getHours() + ":" + d.getMinutes());
        </script>
      </span>
    </div>

    <div class="status">
      <img src="/images/connection.svg" />
      <img src="/images/wifi.svg" />
      <img src="/images/battery.svg" />
    </div>

  </div>

  {{{body}}}

</body>

{{!-- <form id="logout-form" action="/logout" method="POST">
  <button>Logout</button>
</form> --}}

</html>