:root {
  --green-color: #4ba48f;
  --black-color: #000000;
  --hardgrey-color: #3a3a3a;
  --softgrey-color: #9a9cac;
  --whitegrey-color: #f3f5f7;
  --white-color: #ffffff;
}

.wL {
  color: var(--white-color);
}

.gC {
  color: var(--green-color);
}
/* font-family: 'Rubik', sans-serif; */

/* * {
  font-style: rubik;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  color: var(--hardgrey-color);
}

h1 {
  font-weight: bold;
  font-size: 33px;
  line-height: 32px;
  text-align: center;
  /*  color: var(--white-color); */
}

h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: var(--hardgrey-color);
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

/* ---------- BG COLORS ---------- */
.greyBg {
  background-color: var(--softgrey-color);
}

.greenBg {
  background-color: var(--green-color);
}

.whiteGreyBg {
  background-color: var(--whitegrey-color);
}

/* ---------- TOP-BAR ---------- */
.top-bar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 21px 8px;
}

/* ---------- FORM ---------- */
.line {
  position: absolute;
  width: 268px;
  height: 0;
  left: 22px;
  top: 318px;
  border: 1px solid var(--softgrey-color);
}

/* ---------- HOME ---------- */

.home {
  display: flex;
  position: absolute;
  flex-direction: column;
}
.logo {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 234px;
  padding-bottom: 39.96px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.imgHome {
  width: 125.47px;
  height: 92.69px;
  padding-bottom: 19.35px;
}

.homeP {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 156px;
  padding-bottom: 29px;
  padding-right: 27px;
  padding-left: 27px;
}

/* ---------- BOTTOM NAVBAR ---------- */
.navbar-bg {
  background-color: var(--whitegrey-color);
  max-width: 100%;
  height: 98px;
  padding: 23px 36px 19px;
  position: absolute;
  bottom: 0;
}

.navbar {
  width: 302px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar a {
  text-align: center;
  text-decoration: none;
}

.navbar div img {
  padding-bottom: 6px;
}

.navbar h4 {
  color: var(--softgrey-color);
}

/* ERROR 404 AND 500 */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgError {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 134px;
  font-weight: bold;
}

.h1Error {
  margin-top: 364.04px;
  margin-bottom: 11.96px;
}

.p1Error {
  font-weight: lighter;
  margin-bottom: 105.96px;
}

.errorBtn {
  margin-top: 30px;
  margin-right: 21px;
  margin-left: 21px;
}
/* ---------- GO BACK button ---------- */
.go-back {
  padding-left: 9px;
}

/* ---------- PADDING FOR PAGES ---------- */
.container {
  padding: 0 21px;
}

/* ---------- BUTTON ---------- */
button {
  border-radius: 8px;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  color: var(--white-color);
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  width: 100%;
  margin-bottom: 13px;
}

/* ---------- USER PROFILE EDIT ---------- */

/* LOGIN */
.authTitle {
  width: 332px;
  height: 117px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 17px;
  margin-bottom: 25px;
}

.authInp {
  padding-top: 68px;
  padding-bottom: 25px;
}

.authInput {
  margin-bottom: 37px;
  width: 332px;
  height: 55px;
  border-radius: 10px;
  text-align: center;
}

.authLabel1,
.authLabel2 {
  position: relative;
}

.authLabel1:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(/images/email.svg) center / contain no-repeat;
}
.authLabel2:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(/images/password.svg) center / contain no-repeat;
}

.bolder {
  font-weight: bolder;
}

.authFooter {
  text-align: center;
  padding-top: 200px;
}
