:root {
  --green-color: #4ba48f;
  --black-color: #000000;
  --hardgrey-color: #3a3a3a;
  --softgrey-color: #9a9cac;
  --whitegrey-color: #f3f5f7;
  --white-color: #ffffff;
}

/* font-family: 'Rubik', sans-serif; */

/* * {
  font-style: rubik;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  color: var(--hardgrey-color);
}

h1 {
  font-weight: bold;
  font-size: 33px;
  line-height: 32px;
  text-align: center;
  color: var(--white-color);
}

h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: var(--hardgrey-color);
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.btn {
  font-family: 'Rubik', sans-serif;
  width: 333px;
  height: 56px;
  top: 490px;
  left: 21px;
  border-radius: 8px;
  font-size: 17px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.line {
  position: absolute;
  width: 268px;
  height: 0;
  left: 22px;
  top: 318px;
  border: 1px solid var(--softgrey-color);
}

/* HOME */
.greenBg {
  background-color: var(--green-color);
}
.home {
  display: flex;
  flex-direction: column;
}
.logo {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 234px 16px 433.96px 16px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.homeBtn {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 418px 21px 194px 21px;
  color: var(--green-color);
  justify-content: space-around;
  gap: 16px;
}

.imgHome {
  width: 125.47px;
  height: 92.69px;
  padding-bottom: 19.35px;
}

.homeP {
  color: var(--white-color);
  display: flex;
  text-align: center;
  padding-bottom: 29px;
  padding-right: 27px;
  padding-left: 27px;
}
