:root {
  --green-color: #4ba48f;
  --black-color: #000000;
  --hardgrey-color: #3a3a3a;
  --grey-color: #80859a;
  --softgrey-color: #9a9cac;
  --whitegrey-color: #f3f5f7;
  --white-color: #ffffff;
  --red-color: red;
}

/* .wL {
  color: var(--white-color);
} */

.gC {
  color: var(--green-color);
  width: 100%;
}

.sgC {
  color: var(--softgrey-color);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  color: var(--hardgrey-color);
}

h1 {
  font-weight: 700;
  font-size: 33px;
  line-height: 32px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: var(--hardgrey-color);
  padding-bottom: 5px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--softgrey-color);
}

h3 {
  font-size: 16px;
  /* color: var(--grey-color); */
  font-weight: 500;
  line-height: 25px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

/* ---------- BG COLORS ---------- */
.greyBg {
  background-color: var(--softgrey-color);
}

.greenBg {
  background-color: var(--green-color);
}

.whiteGreyBg {
  background-color: var(--whitegrey-color);
}

/* ---------- TOP-BAR ---------- */
.top-bar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 21px 8px;
}

/* ---------- FORM ---------- */
.line {
  position: absolute;
  width: 268px;
  height: 0;
  left: 22px;
  top: 318px;
  border: 1px solid var(--softgrey-color);
}

/* ---------- HOME ---------- */
.home {
  display: flex;
  flex-direction: column;
}
.logo {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 234px;
  padding-bottom: 39.96px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.imgHome {
  width: 125.47px;
  height: 92.69px;
  padding-bottom: 19.35px;
}

.homeP {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 29px;
  padding-right: 27px;
  padding-left: 27px;
}

.gC a {
  color: var(--green-color);
  font-weight: 500;
}

/* ---------- COVER ---------- */
.cover {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.icon-title {
  color: white;
  padding-bottom: 33px;
  padding-top: 66px;
}

.paraf {
  position: absolute;
  bottom: 0;
}

.paraf p {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.paraf p a {
  text-decoration: underline;
  color: var(--white-color);
}

/* ---------- BOTTOM NAVBAR ---------- */
.navbar-bg {
  background-color: var(--whitegrey-color);
  max-width: 100%;
  height: 98px;
  padding: 23px 36px 19px;
  position: fixed;
  bottom: 0;
}

.navbar {
  width: 302px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar a {
  text-align: center;
  text-decoration: none;
}

.navbar div img {
  padding-bottom: 6px;
}

.navbar h4 {
  color: var(--softgrey-color);
}

.bottom-line {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 33%;
  right: 33%;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: var(--green-color);
}

.active h4 {
  color: var(--green-color);
}

/* ---------- ERROR 404 AND 500 ---------- */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--red-color);
}

.imgError {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 134px;
  font-weight: bold;
}

.h1Error {
  margin-top: 364.04px;
  margin-bottom: 11.96px;
  color: var(--white-color);
}

.p1Error {
  font-weight: lighter;
  /*margin-bottom: 105.96px;*/
  color: var(--white-color);
}

.errorBtn {
  margin-top: 30px;
  margin-right: 21px;
  margin-left: 21px;
}
/* ---------- GO BACK button ---------- */
.go-back {
  padding-left: 9px;
}

/* ---------- LOGOUT button ---------- */
.logout {
  padding-right: 17px;
}

.logout button {
  background-color: transparent;
}

.logout img {
  width: 30px;
  height: auto;
}

/* ---------- PADDING FOR PAGES ---------- */
.container {
  padding: 0 21px;
}

/* ---------- BUTTON ---------- */
button {
  border-radius: 8px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: var(--white-color);
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  width: 100%;
  margin-bottom: 13px;
}

button a {
  text-decoration: none;
}

/* .btn {
  base styles
}

.btn-main {
}

.btn-invert {
} */

/* <button class="btn btn-main"> */

/* ---------- LOGIN & REGISTER ----------*/
.authTitle {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 25px;
}

.authInp {
  padding-top: 30px;
  padding-bottom: 25px;
}

.authInput {
  margin-bottom: 28px; /* modificar 2 input */
  height: 55px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.authInput input:last-child {
  margin-bottom: 5px;
}

.authInput.pass input {
  margin-bottom: 5px;
}

.authLabel1,
.authLabel2 {
  position: relative;
}

.authLabel1:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(/images/email.svg) center / contain no-repeat;
}
.authLabel2:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(/images/password.svg) center / contain no-repeat;
}

.authFooter {
  text-align: center;
}

.auth-confirm {
  position: absolute;
  bottom: 0;
}

p.authFooter {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

p.authFooter a {
  font-size: 16px;
  color: var(--softgrey-color);
  font-weight: 400;
  line-height: 25px;
  text-decoration: underline;
}

/* ---------- PET CARD PARTIAL ---------- */
.pet-card {
  width: 145px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.pet-img {
  background-color: var(--hardgrey-color);
}

.pet-img img {
  /* height: 145px; */
  height: auto;
  width: 145px;
  display: inline-block;
  vertical-align: middle;
}

.name-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--whitegrey-color);
  padding: 8.5px 11.5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* ---------- ZOO ---------- */
.zoo-text {
  text-align: center;
  margin-bottom: 8px;
}

.zoo-pets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px 30px;
  padding-top: 10px;
}

.zoo-pets a {
  color: var(--hardgrey-color);
}

/* ---------- ADD A PET - CREATE ---------- */
.create-pet input {
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid var(--softgrey-color);
  margin-bottom: 10px;
  padding: 8px 5px 3px;
}

.create-pet p {
  padding-bottom: 5px;
}

form label {
  font-weight: 500;
}

form label,
form input {
  display: block;
  width: 100%;
}

form {
  margin-top: 5px;
}

.dropdown {
  border-bottom: 1px solid var(--softgrey-color);
  margin-bottom: 8px;
  padding-bottom: 20px;
}

select {
  font-family: 'Rubik', sans-serif;
  padding: 2px;
  margin-left: 5px;
  border: 1px solid var(--softgrey-color);
  background-color: transparent;
  border-radius: 3px;
  font-size: 12px;
}

/* ---------- UPLOAD AN IMAGE ---------- */
.pic::-webkit-file-upload-button {
  /* visibility: hidden; */
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--softgrey-color);
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 12px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0);
}

.file-img {
  display: flex;
  border-bottom: 1px solid var(--softgrey-color);
  width: 100%;
  margin-bottom: 8px;
}

.file-img input {
  border: none;
  padding: 0;
}

.file-img label {
  width: 60%;
}

/* ---------- USER PROFILE ---------- */
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-profile img {
  width: 100%;
  height: auto;
  max-width: 100px;
  border-radius: 50%;
  padding-bottom: 5px;
}

.user-profile p {
  padding-bottom: 8px;
}

.user-profile a {
  color: var(--white-color);
}

.user-info {
  padding-bottom: 15px;
}

.user-info p {
  font-size: 14px;
  padding-bottom: 5px;
}
