<h2>Add a new pet</h2>
<form action="/my-pets/add" method="post">

    <label> Pet's name:
        <input type="text" name="petsName" />
    </label><br />

    {{!-- The label Owner is not correctly settled --}}
   {{!--  <label for="owner"> Owner:
        <input type="text" name="owner" value="{{ usersFromDB.owner.email }}" />
    </label><br /> --}}

    {{!-- <label> Owner:
        <input type="text" name="owner" />
    </label><br /> --}}


    <label> Sex:
        <input type="text" name="sex" />
    </label><br />
    <label> Age:
        <input type="number" name="age" />
    </label><br />
    <label> Color:
        <input type="text" name="color" />
    </label><br />

    <button type="submit"> Add a pet </button>
</form>