{{> goBack }}
<div class="container create-pet">
        <h2>Add a new pet</h2>
        <p>Fill in the information about your pet.</p>
    <form action="/my-pets/add" method="post" enctype="multipart/form-data">

        <label>Pet's name</label>
            <input type="text" name="petsName" />

        <label>Profile picture</label>
            <input class="pic" type="file" name="pet-picture" placeholder="pet image">
            {{!-- <input type="text" name="existingImage" hidden value="{{pet.imageUrl}}"> --}}
    
        <label>Race</label>
            <input type="text" name="race" />
        
        <label>Sex</label>
            <input type="text" name="sex" />

        <label>Age</label>
            <input type="number" name="age" />

        <label>Color</label>
            <input type="text" name="color" />
    
        <button class="greenBg" type="submit">Add a pet</button>
    </form>

</div>
{{> navBar }}