<h2>Add a new pet</h2>
<form action="/my-pets/add" method="post">

    <label> Pet's name:
        <input type="text" name="petsName" />
    </label><br />
    <label> Sex:
        <input type="text" name="sex" />
    </label><br />
    <label> Age:
        <input type="number" name="age" />
    </label><br />
    <label> Color:
        <input type="text" name="color" />
    </label><br />
    <button type="submit"> Add a pet </button>
</form>