{{> goBack }}
<div class="container create-pet">
    <h2>Add a new pet</h2>
    <p>Fill in the information about your pet.</p>
    <form action="/my-pets/add" method="post" enctype="multipart/form-data">
        <label>Pet's name</label>
        <input type="text" name="petsName" />
        <div class="file-img">
            <label>Profile picture</label>
            <input class="pic" type="file" title=" " name="pet-picture" placeholder="pet image" />
        </div>
        <label>Race</label>
        <input type="text" name="race" />

        <label for="sex" class="dropdown">Sex
            <select id="sex" name="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </label>
        <label>Age</label>
        <input type="number" name="age" />
        <label>Color</label>
        <input type="text" name="color" />
        <button class="greenBg" type="submit">Add a pet</button>
    </form>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>

<div class="navbar-bg">
    <div class="navbar">

        <a href="/my-pets/list">
            <div class="my-pets">
                <img src="/images/myPets_grey.svg">
                <h4>My pets</h4>
            </div>
        </a>
        <a href="/zoo">
            <div class="zoo">
                <img src="/images/zoo_grey.svg">
                <h4>Zoo</h4>
            </div>
        </a>
        <a href="/my-pets/add">
            <div class="new-pet active">
                <img src="/images/newPet_green.svg">
                <h4>New pet</h4>
            </div>
        </a>
        <a href="/user">
            <div class="profile">
                <img src="/images/profile_grey.svg">
                <h4>Profile</h4>
            </div>
        </a>

    </div>

    <div class="bottom-line">
        <img src="/images/bottom_line.svg">
    </div>
</div>