<h2>Pets</h2>
{{#each user.[0].myPets}}
<h3>Name:{{this.petsName}}</h3>
<h3>Race:{{this.race}}</h3>
<button><a href="/my-pets/{{this._id}}">See the pet's details</a></button>
<button><a href="/my-pets/{{this._id}}/edit">Edit this pet's profile</a></button>
{{/each}}

{{> goBack }}