{{> goBack }}

<div class="container">
    <div class="zoo-text">
        <h2>My pets</h2>
        <p>Look how beautiful your pets are!</p>
    </div>
    <div class="zoo-pets">
        {{> myPetsCard }}
    </div>

</div>

{{> navBar }}