{{> goBack }}

<div class="container">
    <div class="zoo-text">
        <h2>Zoo</h2>
        <p>Life is better with pets...</p>
    </div>
    {{pets}}
    <div class="zoo-pets">
        {{> petCard }}
    </div>
</div>

{{!-- {{> navBar }} --}}
<div class="navbar-bg">
    <div class="navbar">

        <a href="/my-pets/list">
            <div class="my-pets">
                <img src="/images/myPets_grey.svg">
                <h4>My pets</h4>
            </div>
        </a>
        <a href="/zoo">
            <div class="zoo active">
                <img src="/images/zoo_green.svg">
                <h4>Zoo</h4>
            </div>
        </a>
        <a href="/my-pets/add">
            <div class="new-pet">
                <img src="/images/newPet_grey.svg">
                <h4>New pet</h4>
            </div>
        </a>
        <a href="/user">
            <div class="profile">
                <img src="/images/profile_grey.svg">
                <h4>Profile</h4>
            </div>
        </a>

    </div>

    <div class="bottom-line">
        <img src="/images/bottom_line.svg">
    </div>
</div>