{{> goBack }}

<div class="container">
    <div class="zoo-text">
        <h2>Zoo</h2>
        <p>Life is better with pets...</p>
    </div>
    {{pets}}
    <div class="zoo-pets">
        {{> petCard }}
    </div>
</div>

{{> navBar }}