<h1>Zoo</h1>

<h2>- Pets of others</h2>
{{#each pet}}
<h3>Name:{{this.petsName}}</h3>
{{!-- <button><a href="/zoo/{{this._id}}">See the pet's details</a></button> --}}
{{/each}}

<h2>- My pets</h2>
{{#each myPet }}
<h3>Name:{{this.petsName}}</h3>
<button><a href="/my-pets/{{this._id}}">See the pet's details</a></button>
{{/each}}